:root {
  --interaction-color: #dff30a;
  --background: rgb(21, 7, 17);
  --text-color: rgb(8, 107, 8);
  --title-color: #ff6404;
}

* {
  font-family: 'Orbitron', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}


.startScreen-wrapper {
  background-image: url('assets/arcade-wallpaper.jpg');
  background-size: cover no-repeat center;
  height: 100vh;
  width: 100vw;
}

.startScreen-title {
  color: var(--title-color);
  font-size: 4rem;
  margin-bottom: 3rem;
}

.startScreen-btn {
  height: 4rem;
  width: 12rem;
  border: none;
  background: var(--interaction-color);
  color: var(--text-color);
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: green 3px 5px;
}