:root {
  --interaction-color: #dff30a;
  --background: rgb(21, 7, 17);
  --text-color: rgb(8, 107, 8);
  --title-color: #ff6404;
}


* {
  font-family: 'Orbitron', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: var(--background);
  overflow: hidden;
}

.center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.startScreen-wrapper {
  background-image: url('assets/arcade-wallpaper.jpg');
  background-size: cover no-repeat center;
  height: 100vh;
  width: 100vw;
}

.startScreen-title {
  color: var(--title-color);
  font-size: 4rem;
  margin-bottom: 3rem;
}

.startScreen-btn {
  height: 4rem;
  width: 12rem;
  border: none;
  background: var(--interaction-color);
  color: var(--text-color);
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: green 3px 5px;
}

.grid-wrapper {
  align-items: center;
  margin-bottom: 0.5rem;
}

.row {
  display: flex;
  width: 10px;
  height: 10px;
}

.row-grid-render {
  display: flex;
  justify-content: center;
}

input[type=number] {
  width: 3.2rem;
  font-size: 1rem;
  background: var(--background);
  color: var(--text-color);
}

.inputWidth {
  margin-right: 0.5rem;
}

.inputHeight {
  margin-left: 0.5rem
}

input:invalid {
  outline: 2px solid red;
}

.inputs-buttonResizeGrid-container {
  display: flex;
  flex-direction: row;
}

.multiplication-sign {
  color: var(--title-color);
  font-size: 1.5rem;
  width: 1rem;
  height: 1rem;
}

.inactive {
  background: #616161;
}

.active {
  background: var(--interaction-color);
}

.tile {
  border: 1px solid #AAAAAA;
}

.tiles {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
}

.error {
  position: absolute;
  width: 24rem;
  height: 2.7rem;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  background: red;
  border-radius: 10px;
  color: white;
  font-size: 0.9rem;
  text-align: center;
}

.btn-container {
  margin-top: 2rem;
}

.button {
  border: none;
  background: var(--interaction-color);
  color: var(--text-color);
  font-size: 1rem;
  height: 2rem;
  width: 7rem;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 1rem;
  opacity: 1;
}

.margin {
  margin-top: 6rem;
}

.icons {
  display: flex;
  margin-top: 1rem;
  margin-left: 83vw;
  gap: 1rem;
  height: 50px;
  width: 50px;
  color: var(--interaction-color);
  font-size: 30px;
  cursor: pointer;
}

.rules-wrapper {
  display: flex;
  position: absolute;
  top: 0%;
  width: 100vw;
  height: 110vh;
  background: rgba(0, 0, 0, 0.734);
  z-index: 1;
}

.rules {
  width: 22rem;
  height: 36rem;
}

.close-rules {
  color: var(--interaction-color);
  margin-top: 1rem;
  margin-left: 19rem;
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 3rem;
}


.rules-title {
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.rules-instrucutons {
  color: var(--text-color);
  margin-top: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.5rem;
}

@media screen and (max-width:400px) {
  .button {
    margin-left: 0.5rem
  }

  .startScreen-title {
    font-size: 3rem;
  }

  .icons {
    margin-bottom: 4rem;
    margin-left: 75vw;
  }
}

@media screen and (min-width: 521px) {

  .icons {
    width: 70px;
    margin-left: 80vw;
    gap: 0.7rem;

  }
}

@media screen and (min-width: 700px) {

  .icons {
    width: 80px;
    margin-left: 86vw;
    gap: 1rem;
  }

}

@media screen and (min-width:900px) {
  .flex-row {
    display: flex;
    flex-direction: row;
    height: 88vh;
    gap: 2rem;

  }

  .btn-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 12rem;

  }

  .buttonBS {
    height: 3rem;
    width: 10rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
  }

  input[type="number"] {
    width: 70px;
    height: 30px;
    font-size: 1.4rem;
  }

  .error {
    left: 42.7%;
    top: 45%;
  }

  input[type=number] {
    margin-top: 6.4rem;
  }

  .multiplication-sign {
    margin-top: 6.4rem;
  }

}

@media screen and (min-width: 1220px) {

  .icons {
    width: 90px;
    margin-left: 91vw;
    gap: 2rem;
  }

  .startScreen-btn:hover {
    width: 16rem;
    color: var(--title-color);
  }

  .button:hover {
    opacity: 0.5;
  }

  .icon1:hover {
    color: green;
  }

  .icon2:hover {
    color: green;
  }

  .close-rules:hover {
    color: green;
  }

  input[type=number] {
    margin-top: 6.4rem;
  }

  .multiplication-sign {
    margin-top: 6.4rem;
  }
}